@mixin rotate($degrees) {
	transform:rotate($degrees);
	-ms-transform:rotate($degrees); /* IE 9 */
	-webkit-transform:rotate($degrees); /* Safari and Chrome */
}

@mixin shadow($vertical, $horizontal, $spread, $color) {
	box-shadow: $vertical $horizontal $spread $color;
	-moz-box-shadow: $vertical $horizontal $spread $color;
	-webkit-box-shadow: $vertical $horizontal $spread $color;
}

@mixin clearfix {
	&:after {
		content: '';
		display: block;
		clear: both;
		zoom: 1;
	}
}

@mixin transition($on, $time, $type, $time2: 0s) {
	-webkit-transition: $on $time $type $time2;
  -moz-transition: $on $time $type $time2;
  -o-transition: $on $time $type $time2;
	transition: $on $time $type $time2;
}

@mixin placeholder($color) {
	&::-webkit-input-placeholder {
	  color: $color;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   color: $color;  
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   color: $color;  
	}
	&:-ms-input-placeholder {  
	   color: $color;  
	}
}