$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import '../bower_components/sass-bootstrap/lib/bootstrap';
@import 'plugins/grid.css';
@import 'plugins/mixins';
@import 'plugins/isotope.css';

/* COLORS */
$light-gray: #f4f4f4;
$dark-gray: #070606;
$red: #df2500;

/* GENERIC STYLES */

body {
	background: $light-gray;
	font-family: proxima-nova, "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	&.no-scroll {
		min-height: 100%;
		overflow: hidden;
	}
}

a {
	color: $red;
	&:hover {
		color: darken($red, 6%);
	}
	&:focus, &:active, &:visited {
		color: $red;
		text-decoration: none;
		outline: 0;
	}
	&:visited {
		color: $red;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 300;
}

.hidden {
	display: none !important;
}

.container {
	width: 960px;
	position: relative;
}

.navlist {
	margin: 0;
	padding: 0;
	list-style-type: none;
	li {
		display: inline-block;
	}
}

/* SITE SPECIFIC STYLES */

#main {
	padding: 25px 0;
	border-top: 10px solid $dark-gray;
}

.overlay {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	min-height: 600px;
	height: 100%;
	z-index: 999;
	background: rgba(0, 0, 0, 0.8);
	img {
		position: absolute;
		left: 50%;
		top: 50%;
	}
}

.error,
.error-message {
	position: relative;
	left: 50%;
	top: 50%;
	margin-top: -150px;
	margin-left: -150px;
	background: #fff;
	border: 4px solid $red;
	width: 300px;
	min-height: 150px;
	padding: 15px;
	h1 {
		color: $red;
	}
	.close {
		position: absolute;
		opacity: 1;
		top: 15px;
		right: 15px;
		z-index: 9999;
		display: block;
		color: $red;
		&:hover {
			color: $dark-gray;
		}
	}
}

#header {
	background: $dark-gray;
	color: #fff;
	border-bottom: 3px solid $red;
	a {
		color: #fff;
	}
	.logo {
		position: relative;
		font-size: 0px;
		a {
			color: $dark-gray;
		}
		span {
			position: absolute;
			top: 0px;
			left: 0;
			z-index: 6;
			display: block;
			background: url(../images/amplifi_logo.png) no-repeat;
			background-size: 140px 75px;
			width: 140px;
			height: 75px;
		}
	}
}

#header a.responsive-nav,
#header .search-contain a {
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 6px;
	padding: 3px;
	display: block;
	color: $dark-gray;
	font-size: 18px;
	text-align: center;
	cursor: pointer;
	display: none;
	margin: 20px 0 20px auto;
	&:hover {
		background: $red;
		color: #fff;
	}
}

#nav-contain {
	float: right !important;
	&.expanded {
		position: relative;
		#nav {
			display: block !important;
			position: absolute;
			right: -10px;
			top:  50px;
			z-index: 9999;
			border: 1px solid #ddd;
			border-bottom: 0px;
			li {
				display: block !important;
				width: 130px;
				background: #fff;
				border-bottom: 1px solid #ddd;
				a {
					padding: 10px;
					color: $dark-gray;
					&:hover {
						color: $red;
					}
				}
			}
		}
	}
}

#nav {
	margin-top: 5px;
	text-align: center;
	li {
		a {
			display: block;
			padding: 20px;
			@include transition(all, 0.2s, ease-in);
			&:hover {
				color: $red;
				text-decoration: none;
			}
		}
	}
}

#filters {
	a {
		display: block;
		padding: 5px 10px;
		margin-right: 5px;
		&:hover {
			background: #fff;
			text-decoration: none;
		}
		&.selected {
			color: #fff;
			background: $red;
		}
	}
}

.filters_fixed {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	width: 100%;
	height: 30px;
	background: rgba(255, 255, 255, 0.85);
	ul {
		li {
			a {
				display: block;
				padding: 5px 10px;
				&:hover {
					background: #fff;
					text-decoration: none;
				}
				&.selected {
					background: $red;
					color: #fff;
				}
			}
		}
	}
}

.search-contain {
	position: relative;
	float: right !important;
	a { display: none; }
	#search {
		margin: 20px 0 0 0;
		position: relative;
		a {
			display: block!important;
			position: absolute;
			right: 3px;
			top: -18px;
			font-size: 15px!important;
		}
		input {
			margin: 0;
			width: 150px;
			float: right;
			@include shadow(0, 0, 0, rgba(0,0,0,0));
			&:focus {
				border-color: $red;
				@include placeholder(rgba(0,0,0,0.2));
			}
		}
	}
	&.expanded {
		#search {
			background: #fff;
			padding: 10px;
			border: 1px solid #ddd;
			position: absolute;
			z-index: 999;
			top: 35px;
			right: 0;
			display: block !important;
			a {
				top: -8px;
				right: 13px;
			}
		}
	}
}

/* ISOTOPE CONTAINER */

#container {
	overflow: visible!important;
	margin: 30px auto;
}

.item {
	position: relative;
	a {
		display: block;
		border: 5px solid #fff;
		position: relative;
		overflow: hidden;
		@include shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.3));
		&:hover {
			@include shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.5));
		}
	}
	&.square {
		img {
			width: 130px;
			height: 130px;
		}
		.name {
			font-size: 15px;
		}
	}
	&.rectangle {
		img {
			width: 290px;
			height: 163px;
		}
	}
	&.largesquare {
		img {
			width: 290px;
			height: 290px;
		}
	}
	.name {
		position: absolute;
		bottom: 10px;
		right: 10px;
		color: #fff;
		font-size: 20px;
		text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
	}
	.new {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 5;
		overflow: hidden;
		width: 85px;
		height: 50px;
		pointer-events: none;
		&:after {
			content: 'New!';
			text-transform: uppercase;
			font-size: 11px;
			background: $red;
			color: #fff;
			position: absolute;
			top: 5px;
			right: -38px;
			width: 135px;
			text-align: center;
			z-index: 5;
			@include rotate(30deg);
		}
	}
	&.featured {
		a {
			width: 620px;
		}
		img {
			height: 350px;
		}
		.name {
			bottom: 20px;
			right: 20px;
			font-size: 40px;
		}
	}
}

/* INFINITE SCROLL SPECIAL STYLES */

.loading-msg {
	border-radius: 5px;
	z-index: 999;
	position: fixed;
	left: 50%;
	bottom: 5%;
	text-align: center;
	width: 400px;
	margin-left: -200px;
	width: 400px;
}

/* MEDIA QUEIRIES */

@media only screen and (max-width: 999px) {
	.container {
		width: 100%;
	}
	#container {
		padding: 0 10px;
	}
}

@media only screen and (max-width: 830px) {
	#nav-contain {
		#nav li { display: none; }
		.responsive-nav {
			display: block !important;
		}
	}
	#header .search-contain {
		width: 25px;
		a { display: block; }
		#search { display: none; }
	}
}

@media only screen and (max-width: 430px) {
	.container {
		width: 350px;
	}
	#nav-contain {
		width: 60%;
	}
}
