<% var i, len = artist.length; %>
<% for(i = 0; i < len; i++) { %>
	<% if(artist[i])  { %>
		<div class="item <%= artist[i].genre %> <%= artist[i].display_type %>" <% if(artist[i].position) { %>data-position="<%= artist[i].position %>"<% } %>>

			<% if(artist[i].is_new) { %>
				<div class="new"></div>
			<% } %>
			
			<a href="<%= artist[i].route %>">
				<img src="<%= artist[i][artist[i].display_type] %>">
				<span class="name"><%= artist[i].display_name %></span>
			</a>
		</div>
	<% } %>
<% } %>