<!--<li><a href="#" class="selected" data-filter="*">All</a></li>-->
<% var i, len = genre_type.length; %>
<% for(i = 0; i < len; i++) { %>
	<% var is_all = genre_type[i] === 'all'; %>
	<li>
		<a href="#" class="<%= is_all ? 'selected' : '' %>" data-filter="<%= is_all ? '*' : genre_type[i] %>"><%= capitalize(genre_type[i]) %></a>
	</li>
<% } %>